<template name="resetPassword">
    
      <div class="login-container">
        <h1>Change password</h1><br>
        {{#if errorMessages}}
          <div class="list-errors">
            {{#each errorMessages}}
              <div class="list-error-item">{{this}}</div>
            {{/each}}
          </div>
        {{/if}}
        <form class="login-form">
          <input type="password" name="old-password" placeholder="Old Password">
          <input type="password" name="password" placeholder="New Password">
          <input type="password" name="password-again" placeholder="Repeat New Password">
          <input type="submit" name="login" class="login login-submit" value="Reset">
        </form>
      </div>
    
</template>